@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotomono/v31/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_SeW4Ep0.woff2) format('woff2');
    unicode-range: U +0460 -052F, U +1C80 -1C8A, U +20B4, U +2DE0 -2DFF, U + A640-A69F, U + FE2E-FE2F;
}

body {
	--bg: #fff;
	--text_col: #4b4b4b;
	--text_col_darker: #1a1a1a;
	--text_col_lighter: #5c5c5c;
    --link_col: #e2c9f6;
	font-weight: bold;
;

	font-family: 'Roboto Mono', 'Roboto', 'Helvetica', sans-serif;
	font-size: 15px;
    font-weight: 400;
	line-height: 28px;
	display: block;


	background-color: var(--bg);
	color: var(--text_col);
}



#lang-choice {
	margin: auto;
	display: flex;
	align-content: space-evenly;
}

#lang-choice button {
	background-color: transparent;
	border: none;
	color: var(--text_col_lighter);
}

#lang-choice button.active {
	color: var(--text_col_darker);
}

#lang-choice button:first-child {
	padding-left: 0;
}

#content {
	max-width: 80ch;
	padding: 1ch 10ch;
	margin: 5em auto;
}

#flex {
	display: flex;
	align-items: flex-start;
	gap: 30px;
}

@media (max-width: 786px) {
	#flex {
		flex-direction: column;
	}

	#profile_pic {
		width: 100%;
		margin: auto;
	}

	#content {
		padding: 1ch 3ch;
	}
}

p {
	text-align: justify;
}


#flex .text p:first-of-type {
	margin-top: 0;
}

#flex #profile_pic {
	flex: 1;
	max-width: 300px;
	display: flex;
	justify-content: center;
}


#flex .text {
	flex: 2;
}

#profile_pic img {
	width: 100%;
	max-width: 300px;
	height: auto;
	border: 10px solid #3338;
}

a {
    color: var(--text_col);
	background-color: var(--link_col);
	padding: 0px 5px;
	border-radius: 2px;
	text-decoration: None;
}

footer {
	margin-top: 25ex;
}

footer div {
	display: flex;
	justify-content: center;
}

footer a {
	background-color: transparent;
	font-weight: normal;
	padding: 0;
}

.not-displayed {
	display: none;
}


ul.links {
	padding-left: 0;
}

ul.links li {
	display: inline;
	list-style-type: none;
}

